__builtins__.py
save.json
script.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/idk.iml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
